.tab_buttons {
    padding: 10px 20px;
    margin-left: 0;
    background-color: #ffffff;
    cursor: pointer;
    border: 1px solid #656565;
    border-bottom: 1px solid #656565; /* normal border */
    border-radius: 5px 5px 0 0; /* rounded top corners */
    margin-right: 2px;
    margin-bottom: -1.5px;
}

.tab_buttons:hover {
    background-color: #b1b1b1;
}

.tab_buttons.is_active {
    border-bottom: none; /* hide bottom border of active tab */
    font-weight: bold;
}

.Button-Container {
    border-bottom: 1px solid #656565;
    padding-left: 20px; /* pull up to connect with active tab */
    border-radius: 0 0 5px 5px;
}
